// COLORS
$color-primary: orangered;
$hero-bg-color: #014E56;
$main-text-color: #FFFFFF;
$build-bg-color: #012F34;
$main-subtitle-color: #F67E7E;
$ready-text-color: #012F34;

// FONTS
$font-stack: "Livvic", "Arial", sans-serif;
